[user]
	name = ikasam
	email = ikasam.k503@gmail.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = https://github.com/
[url "git://"]
	insteadOf = https://
[http]
	postBuffer = 524288000
