[user]
	name = ikasam
	email = ikasam.k503@gmail.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	editor = vim
[url "git@github.com:"]
  pushInsteadOf = git://github.com
  pushInsteadOf = https://github.com
[url "https://github.com"]
  insteadOf = git://github.com
  #insteadOf = git@github.com
[url "git@gitlab.com:"]
  pushInsteadOf = git://gitlab.com
  pushInsteadOf = https://gitlab.com
[url "https://gitlab.com"]
  insteadOf = git://gitlab.com
  #insteadOf = git@gitlab.com
[http]
	postBuffer = 524288000
[push]
	default = simple

[alias]
    get = !ghq get -p
    cd = "!ghq look `ghq list | fzy $(echo $1 | awk '{if($1!=\"\") print \"-q\" $1}')` ; :"
    list = !ghq list
    root = "!exec $SHELL ; :"
	co = !git checkout $(git branch | fzf)
	cor = !git checkout $(git branch -r | fzf)
